
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  line-height: 1.6;
  color: #333;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  border-bottom: 5px solid #eee;
}
.logo{
  font-size: 20px;
  color: #e4002e;
  font-weight: bold;
}
.logo span{
  color: black;
  font-weight: normal;
}
.nav ul{
  list-style: none;
  display: flex;
  padding: 20px;
  align-items: center;
}

.nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  align-items: center;
}

.apply-btn{
  background-color: #ff2e5b;
  color: white;
  padding: 8px 14px;
  border-radius: 5px;
}
.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}
.hero-text{
  flex: 1;
  max-width: 600px;
}









.footer {
  background-color: #A31D1D;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

